:root{
	--font-color:#f1fa8c;
	--secondary-font-color:#929292;
	--background-primary-color:#282a36;
	--background-secondary-color:#19191f;

	--primary-color:#50fa7b;
	--primary-color-faded:#0e2b15;
	--secondary-color-1:#ffb86c;
	--secondary-color-2:#8be9fd;
	--secondary-color-3:#bd93f9;
	--secondary-color-4:#ff5555;
	--secondary-color-5:#ff79c6;
	}

a{
	font-size: 0.625rem;
	color: var(--secondary-font-color);
	text-decoration: none;
	text-align: right;
}

body{
	background-color: var(--background-secondary-color);
}

.box-element{
	color: var(--font-color);
	background-color: var(--background-primary-color);
	font-weight: lighter;
	padding: 0.5rem;
}

.calendar-chart{
	width: 950px;
	margin: auto;
  display: inline-block;
	vertical-align: middle;
}

.calendar-chart-wrapper{
	line-height: 350px;
	text-align: center;
}

.chart{
	height: 350px;
	width: 100%;
}

.dashboard-navigation{
	width: 100%;
	text-align: center;
	font-size: 2rem;
	padding-bottom: 0.5rem;
}

.flex-container{
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}

.hashtag{
	margin: 0.25rem;
	padding: 0.25rem;
	font-size: 0.625rem;
}

.nice-placeholder{
	-ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
	scrollbar-width: none;  /* Hide scrollbar for Firefox */
	height: 350px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.nice-placeholder::-webkit-scrollbar{
  display: none;
}

.project{
	word-wrap: break-word;
	text-align: center;
	padding: 0.5rem;
	background-color: var(--background-secondary-color);
	color: var(--secondary-font-color);
	margin: 0.25rem;
	width: 15rem;
}

.project-title{
	padding-bottom: 0.5rem;
}
